
<div style=" display: flex; justify-content: space-between;    ">
  <h6 for="typeahead-format" >Eligibilité FTTH:</h6>
  <a>
    <nb-select   placeholder="Filtre" [size]="large" [(ngModel)]="Fvalue" >
      <nb-option value="1">zone</nb-option>
      <nb-option value="2">Monosite</nb-option>
      <nb-option value="3">Residence</nb-option>
    </nb-select>
  </a>
</div>


<input  id="typeahead-format" type="text" class="form-control" [(ngModel)]="model"
 [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Tapez içi nom zone, immeuble, adresse.."/>

 <span style="float: right; ">
  <button (click)="verif()" nbButton status="primary"><i class="fas fa-search"></i>verifier</button>
</span>
<div  style="color: red;">{{erreur}}</div>
<br>
<br>


<hr>
<!-- <pre>Localité: {{ model | json }}{{erreur}}</pre> -->
<h6>Statistiques {{zone}}</h6>
<div class="row">
  <div class="col-xl-3 col-sm-6 py-2">
    <nb-card status="success">
      <nb-card-header>B2B</nb-card-header>
    <nb-card-body>
      <h1>{b2b}</h1>
    </nb-card-body>
  </nb-card>
</div>
  <div class="col-xl-3 col-sm-6 py-2">
    <nb-card status="primary">
      <nb-card-header>B2C</nb-card-header>
    <nb-card-body>
      <h1>{b2c}</h1>
    </nb-card-body>
  </nb-card>
</div>
  <div class="col-xl-3 col-sm-6 py-2">
    <nb-card status="warning">
      <nb-card-header>Mixte</nb-card-header>    <nb-card-body>
      <h1>500</h1>
    </nb-card-body>
  </nb-card>
</div>
  <div class="col-xl-3 col-sm-6 py-2">
    <nb-card status="danger">
      <nb-card-header>Total</nb-card-header>
    <nb-card-body>
      <h1>500</h1>
    </nb-card-body>
  </nb-card>
</div>
</div>




<div class="row">
<div class="col-lg-7">
  <nb-card>
    <nb-card-header>Charguia I</nb-card-header>
    <nb-card-body>
      <div class="echart">
      <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="results"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="col-lg-5">
  <nb-card>
    <nb-card-header>Eligibilité</nb-card-header>
    <nb-card-body>
      <div echarts [options]="options" class="echart"></div>
    </nb-card-body>
  </nb-card>
</div>



