<h6>Eligibilité résidence {{res}}</h6>
<table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>N°APPARTEMENT</th>
      <th>N°ETAGE</th>
      <th>Nom du Bloc</th>
      <th>N°Compteur STEG</th>
      <th>Etat raccordement</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of concat">

    <td>{{e.Num_appartement}} </td>
    <td>{{e.Num_etage}}</td>
    <td>{{e.Nom_bloc}} </td>
    <td>{{e.Num_steg}}</td>
    <td>
      <a  *ngIf="e.IsRaccorde==1">Raccordé</a>
      <a *ngIf="e.IsRaccorde==0">Non Raccordé</a>
    </td>
    <td >
      <div style=" display:flex;flex-direction:row; position: relative; left: 5px">
         <button *ngIf="e.Nom_syndique; else client" nbButton status="danger"  (click)="detailsResidence(e)" nbPopover="Details Appartements" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"> <i class="far fa-building"></i> </button>
         <ng-template #client>
          <button *ngIf="e.KCRM"  nbButton status="success"  (click)="detailsClient(e)" data-toggle="modal" data-target="#exampleModalLongclient" nbPopover="Details Clients" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" > <i class="far fa-user"></i> </button>
          <button *ngIf="!e.KCRM" disabled nbButton status="success"  (click)="detailsClient(e)" data-toggle="modal" data-target="#exampleModalLongclient" nbPopover="Details Clients" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" > <i class="far fa-user"></i> </button>
          <button nbButton status="primary"   (click)="copy(e)" style="margin-left: 20px;" nbPopover="Copier" nbPopoverTrigger="hint" nbPopoverPlacement="bottom">  <i class="far fa-copy"></i>  </button>
        </ng-template>
       </div>
    </td>

    </tr>
  </tbody>
</table>

<!-- Modal crsp client -->
<div class="modal fade" id="exampleModalLongclient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Client Monosite</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="introuvable==false">
          <h6>Num serie ONT: {{nsONT}}</h6>
        <h6>Num telephone: {{Ntel}}</h6>
        <h6>Solution de raccordement: {{SR}}</h6>
        <h6>Budget optique: {{Bo}}</h6>
        <h6>Type: {{type}}</h6>
        </div>
        <div *ngIf="introuvable==true">
          <h6>N'est pas encore un client!</h6>
        </div>

      </div>
    </div>
  </div>
</div>
