<button routerLink="../ajout-olt" nbButton status="success" style="width:200px; float:right;"><i class="far fa-plus-square"></i>  Ajouter OLT </button>
<br>
<br>
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item  *ngFor="let olt of olts; "    >
        <nb-accordion-item-header (click)="openC(olt)">
          {{olt.Nom_olt}}
            <div style=" position: absolute; right: 5%" >
            <button  nbButton status="danger"   (click)="deleteOlt(olt)" data-toggle="modal" data-target="#confsupo">  <i class="far fa-trash-alt"></i>  </button>
            <button  nbButton status="warning"  (click)="editOlt(olt)" style="margin-left: 20px;" > <i class="far fa-edit"></i> </button>
          </div>

        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <button routerLink="../ajout-cassette" nbButton status="success" style="width:120px; float:right;" (click)=AjoutC(olt)><i class="far fa-plus-square"></i>    </button>
          <br>
          <br>
          <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item  *ngFor="let cassette of cassettes"  >
              <nb-accordion-item-header (click)=openS(cassette) >
                {{cassette.Nom_cassette}}{{cassette.Num_cassette}}
                <div style=" position: absolute; right: 5%" > <button nbButton status="danger"   (click)="deleteC(cassette)"  data-toggle="modal" data-target="#confsupc" style="margin-left: 20px;" >  <i class="far fa-trash-alt"></i>  </button>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>

                <button routerLink="../ajout-splitter" nbButton status="success" style="width:120px; float:right;" (click)=AjoutS(cassette)><i class="far fa-plus-square"></i>  Splitter  </button>
                <br>
                <br>
                <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item  *ngFor="let splitter of splitters" >
                    <nb-accordion-item-header (click)=openP(splitter)>
                      splitter{{splitter.Position}}
                      <div style=" position: absolute; right: 5%" >
                        <button  nbButton status="danger"  data-toggle="modal" data-target="#confsups" (click)="deleteS(splitter)" style="margin-left: 20px;" >  <i class="far fa-trash-alt"></i>  </button>
                      </div>

                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <a>Ports OUT:</a>
                      <div id="P2Ports">
                       <label *ngFor="let port of ports; let i = index "  class="switch grid-item">
                         <div  style=" height:20px" *ngIf="port.Position_tiroir " nbPopover={{port.Position_tiroir}}--Couleur_fibre:{{port.Couleur_fibre}}--Couleur_tube:{{port.Couleur_tube}} nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
                         <br /><br />
                         <div style="text-align: center ; ">{{ i + 1 }} </div>
                         <div *ngIf="port.Etat== 'Raccorde'; else Libre ">
                         <input  type="checkbox" checked="true" (click)="chekyderacout(port)" data-toggle="modal" data-target="#déraccordéOUT" /><span class="slider"></span>
                        </div>
                       <ng-template #Libre>
                         <input type="checkbox" (click)="chekyracout(port)" data-toggle="modal" data-target="#raccordéOUT" /><span class="slider"></span>
                       </ng-template>
                        </div>
                       </label>
                     </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>


<!-- Modal raccordé OUT -->
<div data-backdrop="static" class="modal fade" id="raccordéOUT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormRacOut" (ngSubmit)="SubRaccordeOUT()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Raccordement Tiroir Transport </h5>
        <button type="button" (click)="annulerROUT()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button #closeModal2 hidden type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="Num_TT">Numero Tiroir Transport</label>
            <input
              type="text"
              formControlName="Num_TT"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval1.Num_TT.errors }"
              placeholder="Entrer Numero Tiroir Transport ici"
            />
            <div *ngIf="submitted && fval1.Num_TT.errors" class="invalid-feedback">
              <div *ngIf="fval1.Num_TT.errors.required">Numero Tiroir Transport est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Pos_TT">Position Tiroir Transport</label>
            <input
              type="text"
              formControlName="Pos_TT"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval1.Pos_TT.errors }"
              placeholder="Entrer Position Tiroir Transport ici"
            />
            <div *ngIf="submitted && fval1.Pos_TT.errors" class="invalid-feedback">
              <div *ngIf="fval1.Pos_TT.errors.required">Position Tiroir Transport est obligatoire</div>
            </div>
          </div>

          <!-- select item -->
          <div class="form-group">
            <div class="group-gap">
              <div class="d-block my-3">
                <div class="mb-3">
                  <label style="margin-right: 2rem;">Couleur Fibre</label>
                  <select
                    class="custom-select "
                    (change)="Coul_fib($event)"
                    formControlName="Coul_fib"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && fval1.Coul_fib.errors }"
                    placeholder="Entrer Coul_fib ici"
                  >
                    <option value="">Entrer Couleur Fibre ici</option>
                    <option style="background-color: blue;" value="Bleu">Bleu</option>
                    <option style="background-color: orangered;" value="Orange">Orange</option>
                    <option style="background-color: green;" value="Vert">Vert</option>
                    <option style="background-color: brown;" value="Marron">Marron</option>
                    <option style="background-color: gray;" value="Gris">Gris</option>
                    <option style="background-color: white;" value="Blanc">Blanc</option>
                    <option style="background-color: red;" value="Rouge">Rouge</option>
                    <option style="background-color: black;" value="Noir">Noir</option>
                    <option style="background-color: yellow;" value="Jaune">Jaune</option>
                    <option style="background-color: purple;" value="Violet">Violet</option>
                    <option style="background-color: pink;" value="Rose">Rose</option>
                    <option style="background-color: turquoise;" value="Turquoise">Turquoise</option>
                  </select>
                  <!--  error block -->
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && fval1.Coul_fib.errors"
                  >
                    <div *ngIf="fval1.Coul_fib.errors.required">
                      Couleur Fibre est obligatoire
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- select item -->
          <div class="form-group">
            <div class="group-gap">
              <div class="d-block my-3">
                <div class="mb-3">
                  <label style="margin-right: 2rem;">Couleur Tube</label>
                  <select
                    class="custom-select "
                    (change)="Coul_tube($event)"
                    formControlName="Coul_tube"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && fval1.Coul_tube.errors }"
                    placeholder="Entrer Coul_tube ici"
                  >
                    <option value="">Entrer Couleur Tube ici</option>
                    <option style="background-color: blue;" value="Bleu">Bleu</option>
                    <option style="background-color: orangered;" value="Orange">Orange</option>
                    <option style="background-color: green;" value="Vert">Vert</option>
                    <option style="background-color: brown;" value="Marron">Marron</option>
                    <option style="background-color: gray;" value="Gris">Gris</option>
                    <option style="background-color: white;" value="Blanc">Blanc</option>
                    <option style="background-color: red;" value="Rouge">Rouge</option>
                    <option style="background-color: black;" value="Noir">Noir</option>
                    <option style="background-color: yellow;" value="Jaune">Jaune</option>
                    <option style="background-color: purple;" value="Violet">Violet</option>
                    <option style="background-color: pink;" value="Rose">Rose</option>
                    <option style="background-color: turquoise;" value="Turquoise">Turquoise</option>                  </select>
                  <!--  error block -->
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && fval1.Coul_tube.errors"
                  >
                    <div *ngIf="fval1.Coul_tubes.error.required">
                      Couleur Tube est obligatoire
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="form-group" class="modal-footer">
        <button type="button" (click)="annulerROUT()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" nbButton status="warning" (click)="SubRaccordeOUT()"> Modifier</button>
      </div>
    </div>
  </form>

  </div>
</div>

<!-- Modal déraccordé OUT -->
<div data-backdrop="static" class="modal fade" id="déraccordéOUT" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Etes vous sûr de déraccorder ce port?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerROUT()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="DeraccordeOUT()" nbButton status="warning" data-dismiss="modal">Oui</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupO()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsupc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupC()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsups" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupS()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>



