<div class="card">
  <div class="card-header">
    <h3>Ajouter OLT</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="Nom">Nom</label>
        <input
          type="text"
          formControlName="Nom"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom.errors }"
          placeholder="Entrer Nom ici"
        />
        <div *ngIf="submitted && fval.Nom.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom.errors.required">Nom est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Localisation">Localisation</label>
        <input
          type="text"
          formControlName="Localisation"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Localisation.errors }"
          placeholder="Entrer Localisation ici"
        />
        <div *ngIf="submitted && fval.Localisation.errors" class="invalid-feedback">
          <div *ngIf="fval.Localisation.errors.required">Localisation est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <a routerLink="../gerer-olt" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>


    </form>
  </div>
</div>


