<a style="font-weight:bold ;font-size: medium ">Gestion clients {{bool}}>{{zoen}}>{{res}}</a>
<button routerLink="../ajout-client" nbButton status="success" style="float:right ;width:200px"><i class="far fa-plus-square"></i>  Ajouter Client </button>
<br>
<br>
<br>

<table datatable id="example" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Num serie ONT </th>
      <th>MSISDN </th>
      <th>Code_site </th>
      <th>Solution raccordement</th>
      <th>Budget optique</th>
      <th>Type client</th>
      <th>Contact client</th>
      <th>KCRM</th>
      <th>Debit</th>
      <th>Nom_soustraitant</th>
      <th>Adresse immeuble</th>
      <!-- <th>Etat</th> -->
      <th>Num steg</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of mix">

    <td>{{e.Num_serie_ONT}}</td>
    <td>{{e.MSISDN}}</td>
    <td>{{e.Code_site}}</td>
    <td>{{e.Solution_raccordement}}</td>
    <td>{{e.Budget_optique}}</td>
    <td>{{e.Type_client}}</td>
    <td>{{e.Num_telephone}}</td>
    <td>{{e.KCRM}}</td>
    <td>{{e.Debit}}</td>
    <td>{{e.Nom_soustraitant}}</td>
    <!-- <td>{{e.Etat}}</td> -->
    <td>{{e.Adresse}}</td>
    <td>{{e.Num_steg}}</td>
   <td >
      <div style=" display:flex;flex-direction:row; position: relative; left: 5px">
     <button nbButton status="warning" routerLink="../modifier-client" (click)="editClient(e)" > <i class="far fa-edit"></i> </button>
     <button nbButton status="danger"   (click)="deleteClient(e)" style="margin-left: 4px;">  <i class="far fa-trash-alt"></i>  </button>
      </div>
    </td>
    </tr>
  </tbody>
</table>
