<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Zones</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let zone of sros" (click)="viewZone(zone)">
            <button style=" float:right " class="btn btn-info"   (click)="viewZone(zone)" style="margin-left: 450px;">  <i class="fas fa-search"></i>  </button>

           {{ zone.Nom_zone }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
