<div class="card">
  <div class="card-header">
    <h3>Ajouter Appartement</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="Num_steg">Numero steg </label>
        <input
          type="text"
          formControlName="Num_steg"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_steg.errors }"
          placeholder="Entrer Numero steg  ici"
        />
        <div *ngIf="submitted && fval.Num_steg.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_steg.errors.required">Numero steg  est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <label for="Num_appartement">Numero appartement</label>
        <input
          type="text"
          formControlName="Num_appartement"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_appartement.errors }"
          placeholder="Entrer Num appartement ici"
        />
        <div *ngIf="submitted && fval.Num_appartement.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_appartement.errors.required">Numero appartement est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Nom_bloc">Nom bloc</label>
        <input
          type="text"
          formControlName="Nom_bloc"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_bloc.errors }"
          placeholder="Entrer Nom bloc ici"
        />
        <div *ngIf="submitted && fval.Nom_bloc.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_bloc.errors.required">Nom bloc est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Num_etage">Numero etage</label>
        <input
          type="text"
          formControlName="Num_etage"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_etage.errors }"
          placeholder="Entrer Num etage ici"
        />
        <div *ngIf="submitted && fval.Num_etage.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_etage.errors.required">Numero etage est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Num_BE">Numero Boitier d'etage</label>
        <input
          type="text"
          formControlName="Num_BE"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_BE.errors }"
          placeholder="Entrer Num Boitier d'etage ici"
        />
        <div *ngIf="submitted && fval.Num_BE.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_BE.errors.required">Numero Boitier d'etage est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="NCCCM">Nom Capacite Cable_Colonne Montante</label>
        <input
          type="text"
          formControlName="NCCCM"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.NCCCM.errors }"
          placeholder="Entrer Num Boitier d'etage ici"
        />
        <div *ngIf="submitted && fval.NCCCM.errors" class="invalid-feedback">
          <div *ngIf="fval.NCCCM.errors.required">Nom Capacite Cable Colonne Montante est obligatoire</div>
        </div>
      </div>

         <!-- select item -->
         <div class="form-group">
          <div class="group-gap">
            <div class="d-block my-3">
              <div class="mb-3">
                <label style="margin-right: 2rem;">Couleur Fibre</label>
                <select
                  class="custom-select "
                  (change)="Coul_fib($event)"
                  formControlName="Coul_fib"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && fval1.Coul_fib.errors }"
                  placeholder="Entrer Coul_fib ici"
                >
                  <option value="">Entrer Couleur Fibre ici</option>
                  <option style="background-color: blue;" value="Bleu">Bleu</option>
                  <option style="background-color: orangered;" value="Orange">Orange</option>
                  <option style="background-color: green;" value="Vert">Vert</option>
                  <option style="background-color: brown;" value="Marron">Marron</option>
                  <option style="background-color: gray;" value="Gris">Gris</option>
                  <option style="background-color: white;" value="Blanc">Blanc</option>
                  <option style="background-color: red;" value="Rouge">Rouge</option>
                  <option style="background-color: black;" value="Noir">Noir</option>
                  <option style="background-color: yellow;" value="Jaune">Jaune</option>
                  <option style="background-color: purple;" value="Violet">Violet</option>
                  <option style="background-color: pink;" value="Rose">Rose</option>
                  <option style="background-color: turquoise;" value="Turquoise">Turquoise</option>
                </select>
                <!--  error block -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && fval1.Coul_fib.errors"
                >
                  <div *ngIf="fval1.Coul_fib.errors.required">
                    Couleur Fibre est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- select item -->
        <div class="form-group">
          <div class="group-gap">
            <div class="d-block my-3">
              <div class="mb-3">
                <label style="margin-right: 2rem;">Couleur Tube</label>
                <select
                  class="custom-select "
                  (change)="Coul_tube($event)"
                  formControlName="Coul_tube"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && fval1.Coul_tube.errors }"
                  placeholder="Entrer Coul_tube ici"
                >
                  <option value="">Entrer Couleur Tube ici</option>
                  <option style="background-color: blue;" value="Bleu">Bleu</option>
                  <option style="background-color: orangered;" value="Orange">Orange</option>
                  <option style="background-color: green;" value="Vert">Vert</option>
                  <option style="background-color: brown;" value="Marron">Marron</option>
                  <option style="background-color: gray;" value="Gris">Gris</option>
                  <option style="background-color: white;" value="Blanc">Blanc</option>
                  <option style="background-color: red;" value="Rouge">Rouge</option>
                  <option style="background-color: black;" value="Noir">Noir</option>
                  <option style="background-color: yellow;" value="Jaune">Jaune</option>
                  <option style="background-color: purple;" value="Violet">Violet</option>
                  <option style="background-color: pink;" value="Rose">Rose</option>
                  <option style="background-color: turquoise;" value="Turquoise">Turquoise</option>                  </select>
                <!--  error block -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && fval1.Coul_tube.errors"
                >
                  <div *ngIf="fval1.Coul_tube.errors.required">
                    Couleur Tube est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      <div class="form-group">
        <a routerLink="../gerer-appartement" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>


    </form>
  </div>
</div>


