<a style="font-weight:bold ;font-size: medium ">Gestion Appartements>{{zoen}}>{{res}}</a>
<button routerLink="../ajout-appartement" nbButton status="success"  style="width:200px; float:right;"><i class="far fa-plus-square"></i>  Ajouter Appartement </button>
<br>
<br>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmitImport()">
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".csv, .xlsx" />
  <button type="submit" nbButton status="primary"  style="width:200px; float:right;"><i class="far fa-plus-square"></i>Importer Excel</button>
</form>

<table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Position Tiroir CM</th>
      <th>Nom du Bloc</th>
      <th>Nom et capacité du CCM</th>
      <th>COULEUR TUBE</th>
      <th>COULEUR FIBRE</th>
      <th>N°BEO</th>
      <th>N°ETAGE</th>
      <th>N°APPARTEMENT</th>
      <th>N°STEG</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of concat">

    <td>{{e.Pos_tiroir_col_montante}} </td>
    <td>{{e.Nom_bloc}}</td>
    <td>{{e.Nom_Capacite_Cable_Colonne_Montante}} </td>
    <td [ngStyle]="{'background-color': (e.Couleur_tube=='Bleu') ? '#0000ff' : ((e.Couleur_tube=='Orange') ? '#ff4500' : ((e.Couleur_tube=='Vert') ? '#008000' : ((e.Couleur_tube=='Marron') ? '#a52a2a' : ((e.Couleur_tube=='Gris') ? '#808080' : ((e.Couleur_tube=='Blanc') ? '#ffffff' : ((e.Couleur_tube=='Rouge') ? '#ff0000' : ((e.Couleur_tube=='Noir') ? '#000000' : ((e.Couleur_tube=='Jaune') ? '#ffff00' : ((e.Couleur_tube=='Violet') ? '#800080' : ((e.Couleur_tube=='Rose') ? '#ffc0cb' : ((e.Couleur_tube=='Turquoise') ? '#40e0d0' : null ) ) )  )  ) ) ) ) ) ) )}"></td>
    <td [ngStyle]="{'background-color': (e.Couleur_fibre=='Bleu') ? '#0000ff' : ((e.Couleur_fibre=='Orange') ? '#ff4500' : ((e.Couleur_fibre=='Vert') ? '#008000' : ((e.Couleur_fibre=='Marron') ? '#a52a2a' : ((e.Couleur_fibre=='Gris') ? '#808080' : ((e.Couleur_fibre=='Blanc') ? '#ffffff' : ((e.Couleur_fibre=='Rouge') ? '#ff0000' : ((e.Couleur_fibre=='Noir') ? '#000000' : ((e.Couleur_fibre=='Jaune') ? '#ffff00' : ((e.Couleur_fibre=='Violet') ? '#800080' : ((e.Couleur_fibre=='Rose') ? '#ffc0cb' : ((e.Couleur_fibre=='Turquoise') ? '#40e0d0' : null ) ) )  )  ) ) ) ) ) ) )}"></td>
    <td>{{e.Num_BE}}</td>
    <td>{{e.Num_etage}}</td>
    <td>{{e.Num_appartement}}</td>
    <td>{{e.Num_steg}}</td>

    <td >
      <div style=" display:flex;flex-direction:row;  ">
        <button *ngIf="e.KCRM"  nbButton status="success"  (click)="detailsClient(e)" data-toggle="modal" data-target="#exampleModalLongclient" nbPopover="Details Clients" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" > <i class="far fa-user"></i> </button>
        <button *ngIf="!e.KCRM" disabled nbButton status="success"  (click)="detailsClient(e)" data-toggle="modal" data-target="#exampleModalLongclient" nbPopover="Details Clients" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" > <i class="far fa-user"></i> </button>        <!-- <button  nbButton status="info"   (click)="copy(e)" style="margin-left: 5px;" nbPopover="Copier" nbPopoverTrigger="hint" nbPopoverPlacement="bottom">  <i class="far fa-copy"></i>  </button> -->
        <button  nbButton status="primary"  (click)="showCrsp(e)" style="margin-left: 5px;" data-toggle="modal" data-target="#exampleModalLongcrs" nbPopover="Voir correspondance" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"  >  <i class="fas fa-search"></i>   </button>
        <button  nbButton status="warning" (click)="editApart(e)" style="margin-left: 5px;" nbPopover="modifier" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" > <i class="far fa-edit"></i> </button>
        <button  nbButton status="danger"  (click)="deleteAppart(e)" style="margin-left: 5px;" nbPopover="Supprimer" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" data-toggle="modal" data-target="#confsupr" >  <i class="far fa-trash-alt"></i>   </button>

       </div>
    </td>

    </tr>
  </tbody>
</table>
<!-- <div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item  *ngFor="let appart of concat;let i = index "    >
        <nb-accordion-item-header (click)="clickacco(appart)">
          BLOC:{{appart.Nom_bloc}}, ETAGE:{{appart.Num_etage}}-{{appart.Num_appartement}}
          <div style=" position: absolute; right: 5%">
            <button nbButton status="danger"  (click)="deleteAppart(appart)" data-toggle="modal" data-target="#confsupr" >  <i class="far fa-trash-alt"></i>   </button>
            <button nbButton status="warning" (click)="editApart(appart)" style="margin-left: 20px;" > <i class="far fa-edit"></i> </button>
          </div>
        </nb-accordion-item-header>

          <nb-accordion-item-body *ngFor="let p of pto">
            <a>Point de Terminaison Optique (PTO) </a>
            <span><button nbButton status="primary" *ngIf="p && p!='Non Raccordé'  "  style="float: right;"  (click)=showCrsp(appart)   data-toggle="modal" data-target="#exampleModalLongcrs" nbPopover="Voir Correspondance OLT-SRO-PRI" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"  ><i class="fas fa-search"></i> </button>
            </span>

            <div  id="P2Ports">
              <label   class="switch grid-item">
                <div style=" height:20px"  nbPopover={{p}} nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
                <div *ngIf="p && p!='Non Raccordé'   ; else Libre ">
                <input  type="checkbox" checked="true" (click)="chekyracIN(appart,i)" data-toggle="modal" data-target="#déraccordéIN"/><span class="slider"></span>
               </div>
              <ng-template #Libre>
                <input type="checkbox"  (click)="chekyracIN(appart,i)" data-toggle="modal" data-target="#raccordéIN" /><span class="slider"></span>
              </ng-template>
            </div>
              </label>
            </div>

            <br />
          <a>Num steg: {{appart.Num_steg}}</a><br />
          <a>Nom bloc: {{appart.Nom_bloc}}</a><br />
          <a>Num etage: {{appart.Num_etage}}</a><br />
          <a>Num BE: {{appart.Num_BE}}</a>
          </nb-accordion-item-body>

      </nb-accordion-item>
    </nb-accordion>
  </div>
</div> -->

<!-- Modal déraccordé IN -->
<div data-backdrop="static" class="modal fade" id="déraccordéIN" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6>Etes vous sûr de déraccorder ce port?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerRIN()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="DeraccordeIN()" nbButton status="warning" data-dismiss="modal">Oui</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal raccordé IN-->
<div  data-backdrop="static" class="modal fade" id="raccordéIN" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormRacIn" (ngSubmit)="SubRaccordeIN()">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Raccordement Tiroir Colone montante </h5>
        <button  (click)="annulerRIN()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button #closeModal hidden type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="n_c_c">Numero tiroir colone montante</label>
          <input
            type="text"
            formControlName="n_c_c"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval1.n_c_c.errors }"
            placeholder="Entrer Numero Tiroir colone montante ici"
          />
          <div *ngIf="submitted && fval1.n_c_c.errors" class="invalid-feedback">
            <div *ngIf="fval1.n_c_c.errors.required">Numero tiroir colone montante est obligatoire</div>
          </div>
        </div>

        <div class="form-group">
          <label for="P_t_c">Position Tiroir colone montante</label>
          <input
            type="text"
            formControlName="P_t_c"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fval1.P_t_c.errors }"
            placeholder="Entrer Position Tiroir colone montante ici"
          />
          <div *ngIf="submitted && fval1.P_t_c.errors" class="invalid-feedback">
            <div *ngIf="fval1.P_t_c.errors.required">Position Tiroir colone montante est obligatoire</div>
          </div>
        </div>

      </div>
      <div class="form-group" class="modal-footer">
        <button type="button"  (click)="annulerRIN()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button  type="button" (click)="SubRaccordeIN()"   nbButton status="warning">Modifier</button>
      </div>
    </div>
  </form>

  </div>
</div>


<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsupr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupR()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal correspondance OLT-SRO-PRI -->
<div  class="modal fade" id="exampleModalLongcrs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Correspondance OLT-SRO-PRI </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Tiroir Transport {{posTT}}</h6>
        <h6>Couleur Tube: {{coultube1}}</h6>
        <h6>Couleur Fibre: {{coulfibre1}}</h6>
        <h6>Nom OLT: {{nomOLT}}</h6>
        <h6>N°Cassette: {{posCo}}</h6>
        <h6>N°Splitter: {{posSo}}</h6>
        <h6>N°Port: {{posPo}}</h6>
        <br>
        <h6>Tiroir Distribution {{posTD}}</h6>
        <h6>Couleur Tube: {{coultube}}</h6>
        <h6>Couleur Fibre: {{coulfibre}}</h6>
        <h6>Nom SRO: {{nomSRO}}</h6>
        <h6>N°Cassette: {{posCs}}</h6>
        <h6>N°Splitter: {{posSs}}</h6>
        <h6>N°Port: {{posPs}}</h6>
        <br>
        <h6>Tiroir colonne montante {{PosTM}}</h6>
        <h6>Couleur Tube: {{coultube0}}</h6>
        <h6>Couleur Fibre: {{coulfibre0}}</h6>
        <h6>Nom PRI: {{nomPRI}}</h6>
        <h6>N°Cassette: {{posCp}}</h6>
        <h6>N°Splitter: {{posSp}}</h6>
        <h6>N°Port: {{posPp}}</h6>
      </div>
    </div>
  </div>
</div>



<!-- Modal crsp client -->
<div class="modal fade" id="exampleModalLongclient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Client Monosite</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="introuvable==false">
          <h6>Num serie ONT: {{nsONT}}</h6>
        <h6>Num telephone: {{Ntel}}</h6>
        <h6>Solution de raccordement: {{SR}}</h6>
        <h6>Budget optique: {{Bo}}</h6>
        <h6>Type: {{type}}</h6>
        </div>
        <div *ngIf="introuvable==true">
          <h6>N'est pas encore un client!</h6>
        </div>

      </div>
    </div>
  </div>
</div>
