<div class="card">
  <div class="card-header">
    <h3>Modifier Residence</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">

      <div class="form-group">
        <label for="Nom_residence">Nom residence</label>
        <input
          type="text"
          formControlName="Nom_residence"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_residence.errors }"
          placeholder="Entrer Nom residence ici"
        />
        <div *ngIf="submitted && fval.Nom_residence.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_residence.errors.required">Nom residence est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Adresse">Adresse</label>
        <input
          type="text"
          formControlName="Adresse"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Adresse.errors }"
          placeholder="Entrer Adresse ici"
        />
        <div *ngIf="submitted && fval.Adresse.errors" class="invalid-feedback">
          <div *ngIf="fval.Adresse.errors.required">Adresse est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Nom_pri">Nom PRI </label>
        <input
          type="text"
          formControlName="Nom_pri"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_pri.errors }"
          placeholder="Entrer Nom pri ici"
        />
        <div *ngIf="submitted && fval.Nom_pri.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_pri.errors.required">Nom pri est obligatoire</div>
        </div>
      </div>

      <!-- select item -->
      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">SRO correspondant</label>
              <select
                class="custom-select "
                (change)="sro($event)"
                formControlName="sro"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.sro.errors }"
                placeholder="Entrer sro ici"
                [(ngModel)]="aa"
              >
                <option value="">Entrer nom sro ici</option>
                <option *ngFor="let sro of ch" [value]="sro" >{{sro}}</option>
              </select>
              <!--  error block -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && fval.sro.errors"
              >
                <div *ngIf="fval.sro.errors.required">
                  SRO est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="N_C_C_D">Nom et capacité cable distribution </label>
        <input
          type="text"
          formControlName="N_C_C_D"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.N_C_C_D.errors }"
          placeholder="Entrer Nom et capacité cable distribution ici"
        />
        <div *ngIf="submitted && fval.N_C_C_D.errors" class="invalid-feedback">
          <div *ngIf="fval.N_C_C_D.errors.required">Nom et capacité cable distribution est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <label for="Nb_prise">Nombre de prises</label>
        <input
          type="text"
          formControlName="Nb_prise"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nb_prise.errors }"
          placeholder="Entrer Nombre de prises ici"
        />
        <div *ngIf="submitted && fval.Nb_prise.errors" class="invalid-feedback">
          <div *ngIf="fval.Nb_prise.errors.required">Nombre de prises est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Num_plan">Numero plan</label>
        <input
          type="text"
          formControlName="Num_plan"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_plan.errors }"
          placeholder="Entrer Numero plan ici"
        />
        <div *ngIf="submitted && fval.Num_plan.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_plan.errors.required">Numero plan est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Nom_syndique">Nom syndique</label>
        <input
          type="text"
          formControlName="Nom_syndique"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_syndique.errors }"
          placeholder="Entrer Nom syndique ici"
        />
        <div *ngIf="submitted && fval.Nom_syndique.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_syndique.errors.required">Nom syndique est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Num_syndique">Numero syndique</label>
        <input
          type="text"
          formControlName="Num_syndique"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_syndique.errors }"
          placeholder="Entrer Numero syndique ici"
        />
        <div *ngIf="submitted && fval.Num_syndique.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_syndique.errors.required">Numero syndique est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Longitude">GPS: Longitude</label>
        <input
          type="text"
          formControlName="Longitude"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Longitude.errors }"
          placeholder="Entrer Longitude ici"
        />
        <div *ngIf="submitted && fval.Longitude.errors" class="invalid-feedback">
          <div *ngIf="fval.Longitude.errors.required">Longitude est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Latitude">GPS: Latitude</label>
        <input
          type="text"
          formControlName="Latitude"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Latitude.errors }"
          placeholder="Entrer Latitude ici"
        />
        <div *ngIf="submitted && fval.Latitude.errors" class="invalid-feedback">
          <div *ngIf="fval.Latitude.errors.required">Latitude est obligatoire</div>
        </div>
      </div>

        <!-- select item -->
        <div class="form-group">
          <div class="group-gap">
            <div class="d-block my-3">
              <div class="mb-3">
                <label style="margin-right: 2rem;">Etat convention</label>
                <select
                  class="custom-select "
                  (change)="Etat_convention($event)"
                  formControlName="Etat_convention"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && fval.Etat_convention.errors }"
                  placeholder="Entrer Etat_convention ici"
                >
                  <option value="">Entrer Etat convention ici</option>
                  <option *ngFor="let c of con" [value]="c" >{{c}}</option>
                </select>
                <!--  error block -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && fval.Etat_convention.errors"
                >
                  <div *ngIf="fval.Etat_convention.errors.required">
                  Etat convention est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- select item -->
        <div class="form-group">
          <div class="group-gap">
            <div class="d-block my-3">
              <div class="mb-3">
                <label style="margin-right: 2rem;">Etat raccordement</label>
                <select
                  class="custom-select "
                  (change)="Etat_raccordement($event)"
                  formControlName="Etat_raccordement"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && fval.Etat_raccordement.errors }"
                  placeholder="Entrer Etat_raccordement ici"
                >
                  <option value="">Entrer Etat raccordement ici</option>
                  <option *ngFor="let c of racc" [value]="c" >{{c}}</option>
                </select>
                <!--  error block -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && fval.Etat_raccordement.errors"
                >
                  <div *ngIf="fval.Etat_raccordement.errors.required">
                  Etat raccordement est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="form-group">
        <a routerLink="../gerer-pri" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="warning">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Modifier
        </button>

      </div>


    </form>
  </div>
</div>


