


<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item  *ngFor="let olt of olt; "    >
        <nb-accordion-item-header (click)="openC(olt)">
          {{olt.Nom_olt}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="accordion-container col-md-6 col-lg-12 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item *ngFor="let cassette of cassettes"  >
              <nb-accordion-item-header (click)=openS(cassette) >
                cassette{{cassette.Num_cassette}}
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="accordion-container col-md-6 col-lg-12 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item *ngFor="let splitter of splitters" >
                    <nb-accordion-item-header (click)=openP(splitter)>
                      splitter{{splitter.Position}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <div id="P2Ports">
                        <label *ngFor="let port of ports; let i = index "  class="switch grid-item">
                          <br /><br />
                          <div style="text-align: center ; ">{{ i + 1 }}</div>
                         <input type="checkbox" (click)="cheky(i)" *ngIf="port.Etat=='Raccorde'" checked="true" disabled  /><span class="slider"></span>
                        </label>
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>

<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item   *ngFor="let sro of sro; " >
        <nb-accordion-item-header  (click)="openCs(sro)">
          {{sro.Nom_sro}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="accordion-container col-md-6 col-lg-12 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item  *ngFor="let cassette of cassettess"  >
                <nb-accordion-item-header (click)=openSs(cassette) >
                  cassette{{cassette.Num_cassette}}
                </nb-accordion-item-header>

              <nb-accordion-item-body>
                <div class="accordion-container col-md-6 col-lg-12 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item  *ngFor="let splitter of splitterss" >
                    <nb-accordion-item-header (click)=openPs(splitter)>
                      splitter{{splitter.Position}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <div id="P2Ports">
                        <label *ngFor="let port of portss; let i = index "  class="switch grid-item">
                          <br /><br />
                          <div style="text-align: center ; ">{{ i + 1 }}</div>
                         <input type="checkbox"  *ngIf="port.Etat=='Raccorde' ; " checked="true" disabled /><span class="slider"></span>

                        </label>
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>







