<button nbButton status="success" routerLink="../ajout-user" style="width:200px; float: left"><i class="far fa-plus-square"></i>  Ajouter Utilisateur </button>
<br>
<br>

<table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Fonction</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of user">

    <td>{{e.Nom}}</td>
    <td>{{e.Prenom}}</td>
    <td>{{e.Email}}</td>
    <td>{{e.Fonction}}</td>
    <td>{{e.Role}}</td>
   <td >
      <div style=" display:flex;flex-direction:row; position: relative; left: 40px">
     <button nbButton status="warning"  (click)="editUser(e)" > <i class="far fa-edit"></i> </button>
     <button nbButton status="danger"   (click)="deleteUser(e)" style="margin-left: 20px;">  <i class="far fa-trash-alt"></i>  </button>
      </div>
    </td>
    </tr>
  </tbody>
</table>
