<div class="card">
  <div class="card-header">
    <h3>Ajouter {{Binding}}</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">



      <div class="form-group">
        <label for="Nom"> Nom </label>
        <input
          type="text"
          formControlName="Nom"
          [(ngModel)]="Binding"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom.errors }"
          placeholder="Enter Nom here"
        />
        <div *ngIf="submitted && fval.Nom.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom.errors.required">Nom est obligatoire</div>
        </div>
      </div>

<!-- select item -->
<div class="form-group">
  <div class="group-gap">
    <div class="d-block my-3">
      <div class="mb-3">
        <label style="margin-right: 2rem;">Numero {{Binding}}</label>
        <select
          class="custom-select "
          (change)="NmCasete($event)"
          formControlName="NmCasete"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.NmCasete.errors }"
          placeholder="Entrer NmCasete ici"
        >
          <option value="">Entrer num {{Binding}} ici</option>
          <option *ngFor="let NmCasete of rest" [value]="NmCasete">{{NmCasete}}</option>
        </select>
        <!--  error block -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && fval.NmCasete.errors"
        >
          <div *ngIf="fval.NmCasete.errors.required">
            Numero est obligatoire
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- select item -->
<div class="form-group">
  <div class="group-gap">
    <div class="d-block my-3">
      <div class="mb-3">
        <label style="margin-right: 2rem;">Nombre splitter</label>
        <select
          class="custom-select "
          (change)="Nbsplt($event)"
          formControlName="Nbsplt"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nbsplt.errors }"
          placeholder="Entrer Nbsplt ici"
        >
          <option value="">Entrer nombre splitter ici</option>
          <option *ngFor="let Nbsplt of Nbsplts" [value]="Nbsplt">{{Nbsplt}}</option>
        </select>
        <!--  error block -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && fval.Nbsplt.errors"
        >
          <div *ngIf="fval.Nbsplt.errors.required">
            Nombre est obligatoire
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- select item -->
<div class="form-group">
  <div class="group-gap">
    <div class="d-block my-3">
      <div class="mb-3">
        <label style="margin-right: 2rem;">Type splitter</label>
        <select
          class="custom-select "
          (change)="Typespt($event)"
          formControlName="Typespt"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Typespt.errors }"
          placeholder="Entrer Typespt ici"
        >
          <option value="">Entrer Type splitter ici</option>
          <option *ngFor="let Typespt of Typespts" [value]="Typespt">{{Typespt}}</option>
        </select>
        <!--  error block -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && fval.Typespts.errors"
        >
          <div *ngIf="fval.Typespts.errors.required">
            Type est obligatoire
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      <div class="form-group">
        <a  class="btn btn-link" (click)="annuler()" style="color: royalblue;">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>


    </form>
  </div>
</div>


