
<button routerLink="../ajout-sro" nbButton status="success"  style="width:200px; float:right;"><i class="far fa-plus-square"></i>  Ajouter SRO </button>
<br>
<br>
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item  *ngFor="let sro of sros; "    >
        <nb-accordion-item-header (click)="openC(sro)">
          {{sro.Nom_sro}}
          <div style=" position: absolute; right: 5%">
            <button nbButton status="danger"    (click)="deleteSro(sro)" data-toggle="modal" data-target="#confsupr" >  <i class="far fa-trash-alt"></i>   </button>
            <button nbButton status="warning"   (click)="editSro(sro)" style="margin-left: 20px;" > <i class="far fa-edit"></i> </button>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <button routerLink="../ajout-cassette" nbButton status="success" style="width:120px; float:right;" (click)=AjoutC(sro)><i class="far fa-plus-square"></i>   </button>
          <br>
          <br>
          <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item  *ngFor="let cassette of cassettes"  >
              <nb-accordion-item-header (click)=openS(cassette) >
                {{cassette.Nom_cassette}}{{cassette.Num_cassette}}
                <div style=" position: absolute; right: 5%" >
                  <button nbButton status="danger" data-toggle="modal" data-target="#confsupc"  (click)="deleteC(cassette)" style="margin-left: 20px;" >  <i class="far fa-trash-alt"></i>  </button>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>

                <button routerLink="../ajout-splitter" nbButton status="success" style="width:120px; float:right;" (click)=AjoutS(cassette)><i class="far fa-plus-square"></i>  Splitter  </button>
                <br>
                <br>
                <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item  *ngFor="let splitter of splitters" >
                    <nb-accordion-item-header (click)=openP(splitter)>
                      splitter{{splitter.Position}}
                      <div style=" position: absolute; right: 5%">
                        <button  nbButton status="danger" data-toggle="modal" data-target="#confsups" (click)="deleteS(splitter)" style="margin-left: 20px;"  >  <i class="far fa-trash-alt"></i>  </button>
                      </div>

                    </nb-accordion-item-header>
                    <nb-accordion-item-body>

                      <a>Port IN:</a>
                      <span><button nbButton status="primary" *ngIf="itat=='Raccorde' ;" style="position: absolute; margin-left: 50px;"  (click)=showCrsp(splitter)   data-toggle="modal" data-target="#exampleModalLong" nbPopover="Voir Correspondance OLT" nbPopoverTrigger="hint" nbPopoverPlacement="bottom"  ><i class="fas fa-search"></i> </button>
                      </span>

                      <div id="P2Ports">
                        <label *ngFor="let port of porti; "  class="switch grid-item">
                          <div style=" height:20px" *ngIf="port.Position_tiroir " nbPopover={{port.Position_tiroir}} nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
                          <div *ngIf="port.Etat== 'Raccorde'; else Libre ">
                          <input  type="checkbox" checked="true" (click)="chekyderacIN(splitter)" data-toggle="modal" data-target="#déraccordéIN"/><span class="slider"></span>
                         </div>
                        <ng-template #Libre>
                          <input type="checkbox" (click)="chekyracIN(splitter)" data-toggle="modal" data-target="#raccordéIN" /><span class="slider"></span>
                        </ng-template>
                      </div>
                        </label>
                      </div>

                      <br />

                      <a>Ports OUT:</a>
                       <div id="P2Ports">
                        <label *ngFor="let port of ports; let i = index "  class="switch grid-item">
                          <div style=" height:20px" *ngIf="port.Position_tiroir " nbPopover={{port.Position_tiroir}} nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
                          <br /><br />
                          <div style="text-align: center ; ">{{ i + 1 }} </div>
                          <div *ngIf="port.Etat== 'Raccorde'; else Libre ">
                          <input  type="checkbox" checked="true" (click)="chekyderacout(port)" data-toggle="modal" data-target="#déraccordéOUT" /><span class="slider"></span>
                         </div>
                        <ng-template #Libre>
                          <input type="checkbox" (click)="chekyracout(port)" data-toggle="modal" data-target="#raccordéOUT" /><span class="slider"></span>
                        </ng-template>
                         </div>
                        </label>
                      </div>

                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>



<!-- Modal correspondance -->
<div  class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Correspondance OLT </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Tiroir Transport {{posTT}}</h6>
        <h6>Nom OLT: {{nomOLT}}</h6>
        <h6>N°Cassette: {{posC}}</h6>
        <h6>N°Splitter: {{posS}}</h6>
        <h6>N°Port: {{posP}}</h6>
      </div>
    </div>
  </div>
</div>




<!-- Modal raccordé IN-->
<div  data-backdrop="static" class="modal fade" id="raccordéIN" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormRacIn" (ngSubmit)="SubRaccordeIN()">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Raccordement Tiroir Transport </h5>
        <button  (click)="annulerRIN()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button #closeModal hidden type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">


          <a>Numero cable transport: {{num}}</a>
          <div class="form-group">
            <label for="Pos_TTin">Position Tiroir Transport</label>
            <input
              type="text"
              formControlName="Pos_TTin"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval2.Pos_TTin.errors }"
              placeholder="Entrer Position Tiroir Transport ici"
            />
            <div *ngIf="submitted && fval2.Pos_TTin.errors" class="invalid-feedback">
              <div *ngIf="fval2.Pos_TTin.errors.required">Position Tiroir Transport est obligatoire</div>
              <div *ngIf="fval2.Pos_TTin.errors.maxlength">
                Vous avez depassez la limite des ports dans la tiroir transport
              </div>
            </div>
          </div>

      </div>
      <div class="form-group" class="modal-footer">
        <button type="button"  (click)="annulerRIN()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button  type="button" (click)="SubRaccordeIN()"   nbButton status="warning">Modifier</button>
      </div>
    </div>
  </form>

  </div>
</div>



<!-- Modal raccordé OUT -->
<div data-backdrop="static" class="modal fade" id="raccordéOUT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormRacOut" (ngSubmit)="SubRaccordeOUT()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Raccordement Tiroir Distribution </h5>
        <button type="button" (click)="annulerROUT()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button #closeModal2 hidden type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="Num_TT">Numero Tiroir Distribution</label>
            <input
              type="text"
              formControlName="Num_TT"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval1.Num_TT.errors }"
              placeholder="Entrer Numero Tiroir Transport ici"
            />
            <div *ngIf="submitted && fval1.Num_TT.errors" class="invalid-feedback">
              <div *ngIf="fval1.Num_TT.errors.required">Numero Tiroir Distribution est obligatoire</div>
            </div>
          </div>

          <div class="form-group">
            <label for="Pos_TT">Position Tiroir Distribution</label>
            <input
              type="text"
              formControlName="Pos_TT"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval1.Pos_TT.errors }"
              placeholder="Entrer Position Tiroir Transport ici"
            />
            <div *ngIf="submitted && fval1.Pos_TT.errors" class="invalid-feedback">
              <div *ngIf="fval1.Pos_TT.errors.required">Position Tiroir Distribution est obligatoire</div>
            </div>
          </div>

      </div>
      <div class="form-group" class="modal-footer">
        <button type="button" (click)="annulerROUT()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" nbButton status="warning" (click)="SubRaccordeOUT()"> Modifier</button>
      </div>
    </div>
  </form>

  </div>
</div>





<!-- Modal déraccordé IN -->
<div data-backdrop="static" class="modal fade" id="déraccordéIN" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6>Etes vous sûr de déraccorder ce port?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerRIN()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="DeraccordeIN()" nbButton status="warning" data-dismiss="modal">Oui</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal déraccordé OUT -->
<div data-backdrop="static" class="modal fade" id="déraccordéOUT" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6>Etes vous sûr de déraccorder ce port?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerROUT()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="DeraccordeOUT()" nbButton status="warning" data-dismiss="modal">Oui</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsupr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupR()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsupc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupC()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal confsup -->
<div data-backdrop="static" class="modal fade" id="confsups" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center;">Merci de confirmez la suppression</h6>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="annulerSup()" nbButton status="secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="ConfirmeSupS()" nbButton status="warning" data-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
