


<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item  *ngFor="let olt of olt; "    >
        <nb-accordion-item-header (click)="openC(olt)">
          {{olt.Nom_olt}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item *ngFor="let cassette of cassettes"  >
              <nb-accordion-item-header (click)=openS(cassette) >
                cassette{{cassette.Num_cassette}}
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item *ngFor="let splitter of splitters" >
                    <nb-accordion-item-header (click)=openP(splitter)>
                      splitter{{splitter.Position}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <div id="P2Ports">
                        <label *ngFor="let port of ports; let i = index " nbPopover={{port.Position_tiroir}}--Couleur_fibre:{{port.Couleur_fibre}}--Couleur_tube:{{port.Couleur_tube}} nbPopoverTrigger="hint" nbPopoverPlacement="top" class="switch grid-item" class="switch grid-item">
                          <br /><br />
                          <div style="text-align: center ; ">{{ i + 1 }}</div>
                         <input type="checkbox" (click)="cheky(i)" *ngIf="port.Etat=='Raccorde'" checked="true" disabled  /><span class="slider"></span>
                        </label>
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>

<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
    <nb-accordion >
      <nb-accordion-item   *ngFor="let sro of sro; " >
        <nb-accordion-item-header  (click)="openCs(sro)">
          {{sro.Nom_sro}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6" >
          <nb-accordion>
            <nb-accordion-item  *ngFor="let cassette of cassettess"  >
                <nb-accordion-item-header (click)=openSs(cassette) >
                  cassette{{cassette.Num_cassette}}
                </nb-accordion-item-header>

              <nb-accordion-item-body>
                <div class="accordion-container col-md-12 col-lg-100 col-xxxl-6">
                  <nb-accordion >
                  <nb-accordion-item  *ngFor="let splitter of splitterss" >
                    <nb-accordion-item-header (click)=openPs(splitter)>
                      splitter{{splitter.Position}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>

                      <a>Port IN:</a>
                      <span><button *ngIf="itat=='Raccorde' ;" style="position: absolute; margin-left: 50px;"  (click)=showCrsp(splitter) nbButton status="primary"  data-toggle="modal" data-target="#exampleModalLong" nbPopover="Voir Correspondance OLT" nbPopoverTrigger="hint" nbPopoverPlacement="bottom" ><i class="fas fa-search"></i> </button>
                      </span>

                      <div id="P2Ports">
                        <label *ngFor="let port of porti; "  class="switch grid-item">
                          <div style=" height:20px" *ngIf="port.Position_tiroir " nbPopover={{port.Position_tiroir}} nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
                          <div *ngIf="port.Etat== 'Raccorde'; else Libre ">
                          <input  type="checkbox" checked="true" disabled /><span class="slider"></span>
                         </div>
                        <ng-template #Libre>
                          <input type="checkbox" disabled /><span class="slider"></span>
                        </ng-template>
                      </div>
                        </label>
                      </div>
                      <br />
                      <a>Ports OUT:</a>
                      <div id="P2Ports">
                        <label *ngFor="let port of portss; let i = index "  class="switch grid-item">
                          <div style=" height:20px" *ngIf="port.Position_tiroir != null" nbPopover={{port.Position_tiroir}}--Couleur_fibre:{{port.Couleur_fibre}}--Couleur_tube:{{port.Couleur_tube}} nbPopoverTrigger="hint" nbPopoverPlacement="top">
                          <br /><br />
                          <div style="text-align: center ; ">{{ i + 1 }}</div>
                         <input  type="checkbox"  *ngIf="port.Etat=='Raccorde' ; " checked="true" disabled /><span class="slider"></span>
                          </div>
                        </label>
                      </div>

                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
                </div>


              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          </div>


        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Correspondance OLT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Tiroir Transport: {{posTT}}</h6>
        <h6>Couleur Tube: {{coultube}}</h6>
        <h6>Couleur Fibre: {{coulfibre}}</h6>
        <h6>Nom OLT: {{nomOLT}}</h6>
        <h6>N°Cassette: {{posC}}</h6>
        <h6>N°Splitter: {{posS}}</h6>
        <h6>N°Port: {{posP}}</h6>
      </div>
    </div>
  </div>
</div>

