<div class="card">
  <div class="card-header">
    <h3>Ajouter Monosite</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="Num_steg">Numero steg </label>
        <input
          type="text"
          formControlName="Num_steg"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_steg.errors }"
          placeholder="Entrer Numero steg  içi"
        />
        <div *ngIf="submitted && fval.Num_steg.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_steg.errors.required">Numero steg est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <label for="Adresse">Adresse</label>
        <input
          type="text"
          formControlName="Adresse"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Adresse.errors }"
          placeholder="Entrer Adresse içi"
        />
        <div *ngIf="submitted && fval.Adresse.errors" class="invalid-feedback">
          <div *ngIf="fval.Adresse.errors.required">Adresse est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Nom">Nom </label>
        <input
          type="text"
          formControlName="Nom"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom.errors }"
          placeholder="Entrer Nom içi"
        />
        <div *ngIf="submitted && fval.Nom.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom.errors.required">Nom est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Num_plan">Numero plan</label>
        <input
          type="text"
          formControlName="Num_plan"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_plan.errors }"
          placeholder="Entrer Num plan içi"
        />
        <div *ngIf="submitted && fval.Num_plan.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_plan.errors.required">Numero plan est obligatoire</div>
        </div>
      </div>
      <!-- select item -->
      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">Etat Convention</label>
              <select
                class="custom-select "
                (change)="Etat_con($event)"
                formControlName="Etat_con"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.Etat_con.errors }"
                placeholder="Entrer Etat Convention içi"
              >
                <option value="" >Entrer Etat_con içi</option>
                <option *ngFor="let Etat_con of ch1" [value]="Etat_con" >{{Etat_con}}</option>
              </select>
              <!--  error block -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && fval.Etat_con.errors"
              >
                <div *ngIf="fval.Etat_con.errors.required">
                  Etat Convention est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- select item -->
      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">Etat Raccordement</label>
              <select
                class="custom-select "
                (change)="Etat_racc($event)"
                formControlName="Etat_racc"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.Etat_racc.errors }"
                placeholder="Entrer Etat Raccordement içi"
              >
                <option value="" >Entrer Etat Raccordement içi</option>
                <option *ngFor="let Etat_racc of ch2" [value]="Etat_racc" >{{Etat_racc}}</option>
              </select>
              <!--  error block -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && fval.Etat_racc.errors"
              >
                <div *ngIf="fval.Etat_racc.errors.required">
                  Etat Raccordement est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div class="form-group">
        <a routerLink="../gerer-monosite" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>


    </form>
  </div>
</div>


