
<div class="card">
  <div class="card-header">
    <h3>Ajout Client</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">

      <div class="form-group">
        <label for="Num_serie_ONT">Num serie ONT</label>
        <input
          type="text"
          formControlName="Num_serie_ONT"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_serie_ONT.errors }"
          placeholder="Entrer Num_serie_ONT ici"
        />
        <div *ngIf="submitted && fval.Num_serie_ONT.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_serie_ONT.errors.required">Num serie ont est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="MSISDN">MSISDN </label>
        <input
          type="text"
          formControlName="MSISDN"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.MSISDN.errors }"
          placeholder="Entrer MSISDN ici"
        />
        <div *ngIf="submitted && fval.MSISDN.errors" class="invalid-feedback">
          <div *ngIf="fval.MSISDN.errors.required">MSISDN est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Code_site">Code site </label>
        <input
          type="text"
          formControlName="Code_site"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Code_site.errors }"
          placeholder="Entrer Code site ici"
        />
        <div *ngIf="submitted && fval.Code_site.errors" class="invalid-feedback">
          <div *ngIf="fval.Code_site.errors.required">Code site est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Solution_raccordement">Solution raccordement</label>
        <input
          type="text"
          formControlName="Solution_raccordement"
          class="form-control"
          placeholder="Entrer Solution_raccordement ici"
        />
      </div>

      <div class="form-group">
        <label for="Budget_optique">Budget optique</label>
        <input
          type="text"
          formControlName="Budget_optique"
          class="form-control"
          placeholder="Entrer Budget_optique ici"
        />
      </div>

      <div class="form-group">
        <label for="Num_telephone">Contact client</label>
        <input
          type="text"
          formControlName="Num_telephone"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_telephone.errors }"
          placeholder="Entrer Contact client ici"
        />
        <div *ngIf="submitted && fval.Num_telephone.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_telephone.errors.required">Contact client  est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">Type Client</label>
              <select
                class="custom-select "
                (change)="changeType_client($event)"
                formControlName="Type_client"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.Type_client.errors }"
                placeholder="Entrer Type_client ici"
              >
                <option value="">Entrer Type_client ici</option>
                <option *ngFor="let Type_client of Type_clients" [value]="Type_client">{{Type_client}}</option>
              </select>
              <!--  error block -->
              <div class="invalid-feedback" *ngIf="submitted && fval.Type_client.errors">
                <div *ngIf="fval.Type_client.errors.required">Type est obligatoire</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">Etat Client</label>
              <select
                class="custom-select "
                (change)="changeEtat_client($event)"
                formControlName="Etat_client"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.Etat_client.errors }"
                placeholder="Entrer Etat_client ici"
              >
                <option value="">Entrer Etat_client ici</option>
                <option *ngFor="let Etat_client of Etat_clients" [value]="Etat_client">{{Etat_client}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && fval.Etat_client.errors">
                <div *ngIf="fval.Etat_client.errors.required">Etat est obligatoire</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="KCRM">KCRM</label>
        <input
          type="text"
          formControlName="KCRM"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.KCRM.errors }"
          placeholder="Entrer KCRM ici"
        />
        <div *ngIf="submitted && fval.KCRM.errors" class="invalid-feedback">
          <div *ngIf="fval.KCRM.errors.required">KCRM  est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Debit">Debit</label>
        <input
          type="text"
          formControlName="Debit"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Debit.errors }"
          placeholder="Entrer Debit ici"
        />
        <div *ngIf="submitted && fval.Debit.errors" class="invalid-feedback">
          <div *ngIf="fval.Debit.errors.required">Debit  est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Nom_soustraitant">Nom sous-traitant</label>
        <input
          type="text"
          formControlName="Nom_soustraitant"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_soustraitant.errors }"
          placeholder="Entrer Nom sous-traitant ici"
        />
        <div *ngIf="submitted && fval.Nom_soustraitant.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_soustraitant.errors.required">Nom sous-traitant  est obligatoire</div>
        </div>
      </div>


      <div class="form-group">
        <label for="typeahead-format">Num Steg </label>
        <input  id="typeahead-format"
                type="text"
                formControlName="Num_steg"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.Num_steg.errors }"
                [ngbTypeahead]="search"
                placeholder="Tapez içi num steg"
                />

        <div class="invalid-feedback" *ngIf="submitted && fval.Num_steg.errors  ">
          <div *ngIf="fval.Num_steg.errors.required">Num steg est obligatoire</div>
       </div>

      </div>

      <div class="form-group">
        <a routerLink="../gerer-client" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>
    </form>


  </div>
</div>
