<div class="card">
  <div class="card-header">
    <h3>Ajouter Residence</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">

      <div class="form-group">
        <label for="Nom_residence">Nom residence</label>
        <input
          type="text"
          formControlName="Nom_residence"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_residence.errors }"
          placeholder="Entrer Nom residence ici"
        />
        <div *ngIf="submitted && fval.Nom_residence.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_residence.errors.required">Nom residence est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Nom_pri">Nom PRI </label>
        <input
          type="text"
          formControlName="Nom_pri"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_pri.errors }"
          placeholder="Entrer Nom pri ici"
        />
        <div *ngIf="submitted && fval.Nom_pri.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_pri.errors.required">Nom pri est obligatoire</div>
        </div>
      </div>

      <!-- select item -->
      <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">SRO correspondant</label>
              <select
                class="custom-select "
                (change)="sro($event)"
                formControlName="sro"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.sro.errors }"
                placeholder="Entrer sro ici"
              >
                <option value="">Entrer nom sro ici</option>
                <option *ngFor="let sro of ch" [value]="sro" >{{sro}}</option>
              </select>
              <!--  error block -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && fval.sro.errors"
              >
                <div *ngIf="fval.sro.errors.required">
                  SRO est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <!-- select item -->
       <div class="form-group">
        <div class="group-gap">
          <div class="d-block my-3">
            <div class="mb-3">
              <label style="margin-right: 2rem;">Numero cable distribution</label>
              <select
                class="custom-select "
                (change)="N_C_D($event)"
                formControlName="N_C_D"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fval.N_C_D.errors }"
                placeholder="Entrer cable distribution ici"
              >
                <option value="">Entrer Numero cable distribution ici</option>
                <option *ngFor="let N_C_D of rest" [value]="N_C_D">{{N_C_D}}</option>
              </select>
              <!--  error block -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && fval.N_C_D.errors"
              >
                <div *ngIf="fval.N_C_D.errors.required">
                  Numero est obligatoire
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="C_C_D">Capacite cable distribution</label>
        <input
          type="text"
          formControlName="C_C_D"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.C_C_D.errors }"
          placeholder="Entrer capacite cable distribution ici"
        />
        <div *ngIf="submitted && fval.C_C_D.errors" class="invalid-feedback">
          <div *ngIf="fval.C_C_D.errors.required">Capacite cable distribution est obligatoire</div>
        </div>
      </div> -->


      <div class="form-group">
        <label for="Nb_prise">Nombre de prises</label>
        <input
          type="text"
          formControlName="Nb_prise"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nb_prise.errors }"
          placeholder="Entrer Nombre de prises ici"
        />
        <div *ngIf="submitted && fval.Nb_prise.errors" class="invalid-feedback">
          <div *ngIf="fval.Nb_prise.errors.required">Nombre de prises est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Num_plan">Numero plan</label>
        <input
          type="text"
          formControlName="Num_plan"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_plan.errors }"
          placeholder="Entrer Numero plan ici"
        />
        <div *ngIf="submitted && fval.Num_plan.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_plan.errors.required">Numero plan est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Nom_syndique">Nom syndique</label>
        <input
          type="text"
          formControlName="Nom_syndique"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Nom_syndique.errors }"
          placeholder="Entrer Nom syndique ici"
        />
        <div *ngIf="submitted && fval.Nom_syndique.errors" class="invalid-feedback">
          <div *ngIf="fval.Nom_syndique.errors.required">Nom syndique est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Num_syndique">Numero syndique</label>
        <input
          type="text"
          formControlName="Num_syndique"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fval.Num_syndique.errors }"
          placeholder="Entrer Numero syndique ici"
        />
        <div *ngIf="submitted && fval.Num_syndique.errors" class="invalid-feedback">
          <div *ngIf="fval.Num_syndique.errors.required">Numero syndique est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <a routerLink="../gerer-pri" class="btn btn-link">Annuler</a>
        <button style="float:right" [disabled]="loading" nbButton status="primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Ajouter
        </button>

      </div>


    </form>
  </div>
</div>


